*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height:200vh;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
}
header{
  width: 100%;
  height: 10vh;
  background-color: #eff5f5;
  position: relative;  
}
.navber{
  height: 56%;
  width: 90%;
  background-color: #093dccc2;
  position: absolute;
  top: 22%;
  right: 5%;
  border-radius: 40px;
  display: flex;
  display: none;
  align-items: center;
  box-shadow: 0px 0px 5px 0px #00b7ff;
  color: aliceblue;
}
.header ul{
  display: flex;
  list-style: none;
  position: absolute;
  justify-content: space-around;
  width: 100%;
}
.header ul li{
  padding: 2px;
  position: relative;
  display: flex;
  font-size: 20px;
  padding: 6px;
}
#Home:hover{
  background-color: #093dcc;
  border-radius: 15px;
}
#Product:hover{
  background-color: #093dcc;
  border-radius: 15px 15px 0px 0px;
}
#Service:hover{
  background-color: #093dcc;
  border-radius: 15px 15px 0px 0px;
}
#Contect:hover{
  background-color: #093dcc;
  border-radius: 15px 15px 0px 0px;
}
#About:hover{
  background-color: #093dcc;
  border-radius: 18px;
}
.header ol{
  background-color: #093dcc;
  z-index: 1;
  border-radius: 15px;
  position: absolute;
  width: 250%;
  top: 100%;
  left: -75%;
}
.header ol li{
  padding: 5px;
  display: block;
  text-align: center;
}
.con-list,.pro-list,.ser-list{
  display: none;
}
#Product:hover .pro-list{
  display: block;
}
#Service:hover .ser-list{
  display: block;
}
#Contect:hover .con-list{
  display: block;
}
.sideber{
background-color: #00b7ff;
display: flex;
align-items: center;
justify-content: space-between;
height: 100%;
width: 100%;
}
.heading{
  background-color: #093dcc;
  border-radius: 0px 15px 15px 0px;
  color: aliceblue;
  height: 45px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu-icon{
  background-color: #093dcc;
  border-radius: 15px 0px 0px 15px;
  height: 45px;
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.main{
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: #eff5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100%;
  height: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.image img{
width: 100%;
height: auto;
}
.text{
  height: auto;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:center;
  justify-content:center;
  padding: 10px;
}
.text h2{
font-size: 20px;
}
.text h4{
font-size: 15px;
text-align: center;
}
.text button{
  height: 2.5rem;
  width: 6rem;
  border-radius: 30px;
  border: solid 2px rgb(93, 26, 250);
}
.footer{
  width: 100%;
  height: 100vh;
  position: relative;
}
.productdetial{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  background-color:#eff5f5 ;
}
.product-list{
height: 25%;
width: 100%;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}
.product-list p{
padding: 5px;
text-align: center;
}
.product-list h3{
  padding: 5px;
}
.product-list a{
 text-decoration: none;
}
.product-list h2{
  padding: 5px;
}
.discount-r{
  background-color: #072fa7;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 0% 100% 0px 0px;
}
.discount-l{
  background-color: #072fa7;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  border-radius: 1000% 0px 0px 0px;
}
#pro0{
  background-color: #eff5f5;
  display: flex;
  align-items: flex-start;
}
#pro1{
  background-color: rgba(12, 68, 223, 0.631);
}
#pro2{
  background-color: rgba(12, 68, 223, 0.548);
}
#pro3{
  background-color: rgba(12, 68, 223, 0.37);
}

@media screen and (min-width : 600px){
  body{
    height: 160vh;
  }
  .navber{
    display: flex;
  }
  .sideber{
    display: none;
  }
  .footer{
    height: 60vh;
  }
  .productdetial{
    flex-flow: row wrap;
  }
  .product-list{
    width: 50%;
    height: 50%;
  }
  .discount-r{
    border-radius:  0px;
  }
}
@media screen and (min-width : 750px){
  body{
    height: 100vh;
  }
  .header{
    height: 12vh;
  }
  .main{
    height: 60vh;
    flex-flow: row-reverse;
  }
  .footer{
    height: 28vh;
  }
  .image {
    width: 50%;
    height: 100%;
  }
  .text{
    width: 50%;
    height: 100%;
    align-items: flex-start;
    padding: 20px 20px 20px 50px;
  }
  .text h2{
    font-size: 25px;
  }
  .text h4{
    font-size: 18px;
    text-align: left;
  }
  .text button{
      height: 3rem;
      width: 7rem;
      border-radius: 30px;
      border: solid 2px rgb(93, 26, 250);
  }
  .product-list{
    width: 25%;
    height: 100%;
  }
  #pro1{
    border-radius: 30px 0px 0px 0px;
  }
  .discount-r{
    border-radius: 0% 100% 0% 0% ;
  }
  .discount-l{
    border-radius:  100% 0% 0% 0% ;
  }
 
}