@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:190vh;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.header{
  width: 100%;
  height: 10vh;
  background-color:transparent;
  display: flex;
  justify-content: center; 
  position:fixed;
  z-index: 9999;
}
.sideber a,.navber a{
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
}
.navber{
  height: 60%;
  width: 70%;
  background-color: #073cce;
  position: relative;
  border-radius: 40px;
  display: flex;
  display: none;
  align-items: center;
  box-shadow: -0px -0px 5px 2px rgb(20, 16, 53);
  color: white;
}
.navber ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}
.navber ul li{
  padding: 2px;
  position: relative;
  display: flex;
  font-size: 22px;
  padding: 6px;
}
.navber ul li a:hover{
  font-size: 25px;
  font-weight: 500;
}
.navber ul li:hover{
  font-size: 25px;
  font-weight: 500;
}
.navber ol{
  background-color: #093dcc;
  z-index: 1;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  width: 300px;
  padding: 10px;
  top:99%;
  left: -100px;
}
.navber ol li{
  padding: 5px;
  display: block;
  text-align: center;
}
.con-list,.pro-list,.ser-list{
  display: none;
}
#Product:hover .pro-list{
  display: block;
}
#Service:hover .ser-list{
  display: block;
}
#Contect:hover .con-list{
  display: block;
}
.sideber{
  height: 87%;width: 100%;
  display: flex;
  background-color:#073cce;
  border-radius: 0px 0px 30% 30%;
  box-shadow: -0px -0px 5px 2px rgb(20, 17, 43);
  z-index: 888;
}
.sideber ul{
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: aliceblue;
  font-size: 20px;
}
.sideber ul li:nth-child(2){
  position: relative;
}
#menu-icon{
  display: block;
}
#close-icon{
  display: none;
}
.sideber ul li ul{
  display:none;
  position: absolute;
  background-color:rgba(12, 68, 223, 0.918) ;
  height: 300px;
  width: 200px;
  right:25px;
  align-items: center;
  border-radius: 20px;
  justify-content:center;
}
.main{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #eff5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.5%;
}
.image {
  width: 100%;
  height: 60%;
  border-radius: 0px 0px 0px 200px;
  border-top:11vh;
  border-bottom: 5px;
  border-left: 5px;
  border-color: rgb(90, 134, 255);
  border-style: solid;
}
.image {
  background-color: rgb(90, 134, 255);
  background-image: url(./intro.png);
  background-position:center;
  background-size:cover;
}
.text{
  height: 40%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:center;
  justify-content:center;
  padding: 10px;
}
.text h2{
font-size: 28px;
text-align: center;
}
.text h4{
font-size: 20px;
text-align: center;
}
.text button{
  height: 3rem;
  width: 7rem;
  border-radius: 30px;
  border:solid #093dcc 1px;
  box-shadow: 0px 0px 3px 2px ;
  background-color:#093dcc;
  color: #eff5f5;
  font-weight: 500;
  font-size: 15px;
}
.text button:hover{
  background-color:#eff5f5;
  color: #093dcc;
  box-shadow: 0px 0px 3px 2px rgb(31, 12, 75);
  font-size: 17px;
}
.cards{
  width: 100%;
  height: 90vh;
  position: relative;
}
.productdetial{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  background-color:#eff5f5 ;
}
.product-list{
height: 25%;
width: 100%;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}
.product-list p{
padding: 5px;
text-align: center;
font-size: 20px;
color: #080266;
font-weight: 400;
}
.product-list h3{
  font-size: 25px;
  color: black;
}
.product-list a{
 text-decoration: none;
 font-size: 23px;
 color: #2b0e91;
  padding: 5px;
 font-weight: 700;
}
.product-list h2{
  padding: 5px;
  color: rgb(218, 1, 1);
  font-size: 30px;
  text-shadow: #f5f5f5 2px 2px 1px;
  font-weight: 900;
}
.discount{
  background-color: #073cce;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12rem 12rem 0px 0px;
}
#pro0{
  background-color: #eff5f5;
  display: flex;
  align-items: flex-start;
}
#pro1{
  background-color: rgba(12, 68, 223, 0.631);
}
#pro2{
  background-color: rgba(12, 68, 223, 0.548);
}
#pro3{
  background-color: #0c44df5e;
}

@media screen and (min-width : 630px){
  .header{
    align-items: center;
  }
  body{
    height: 170vh;
  }
  .text h2{
    font-size: 28px;
  }
  .text h4{
    font-size: 20px;
    text-align: center;
  }
  .cards{
    height: 80vh;
  }
  .productdetial{
    flex-flow: row wrap;
  }
  .product-list{
    width: 50%;
    height: 50%;
  }
  #pro1{
    border-radius: 30px 0px 0px 0px;
  }
  .cards p{
    font-size: 20px;
    color: #220135;
    font-weight: 500;
  }
  .cards h3{
    font-size: 22px;
    color: #0b009e;
  }
  .cards a{
    font-size: 18px;
    color: black;
    font-weight: 700;
  }
}
@media screen and (min-width : 7x80px){

  .navber{
    display: flex;
  }
  .sideber{
    display: none;
  }
}
@media screen and (min-width : 930px){
  body{
    height: 100vh;
  }
  header{
    height: 12vh;
  }
  .main{
    height: 72vh;
    flex-flow: row-reverse;
  }
  .cards{
    height: 28vh;
  } 
  .cards p{
    font-size: 20px;
    color: #220135;
    font-weight: 500;
  }
  .cards h3{
    font-size: 23px;
    color: #eff5f5;
  }
  .cards a{
    font-size: 21px;
    color: black;
    font-weight: 700;
  }
  .image {
    width: 45%;
    height: 95%;
    margin-bottom: 2.5%;
  }
  .text{
    width: 50%;
    height: 100%;
    align-items: flex-start;
    padding: 20px 20px 20px 50px;
  }
  .text h2{
    font-size: 33px;
    text-align: left;
  }
  .text h4{
    font-size: 24px;
    text-align: left;
  }
  .product-list{
    width: 25%;
    height: 100%;
  }
}
@media screen and (min-width : 1230px){
  .text h2{
    font-size: 35px;
    text-align: left;
  }
  .text h4{
    font-size: 26px;
    text-align: left;
  }
  .cards p{
    font-size: 22px;
    color: #220135;
    font-weight: 500;
  }
  .cards h3{
    font-size: 25px;
    color: #eff5f5;
  }
  .cards a{
    font-size: 23px;
    color: black;
    font-weight: 700;
  }
  .text button{
    height: 4rem;
    width: 8rem;
    font-size: 18px;
    margin-top: 10px;
  }
}
